<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Página Inicial</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body style="margin: 10vh;">
        <table class="table table-bordered">
            <thead>
                <% header.forEach(head => { %>
                    <th><%= head %> </th>
                <% }); %> 
            </thead>
            <tbody>
                <% rows.forEach(row => { %>
                    <tr>
                        <% row.forEach(element => { %>
                            <th><%= element %> </th>
                        <% }) %> 
                    </tr>
                <% }); %> 
            </tbody>
        </table>
        <hr>
    </body>
</html>